/* Основной цвет фона #FFFFFF; */
/* Вторичный цвет фона #2F303A; */
/* Фоновый цвет секции наша команда #F5F4FA; */

/* Цвет основного текста #212121; */
/* Цвет вторичного текста #757575; */
/* Цвет акцента #2196F3; */
/* Цвет текста заголовка #FFFFFF */
/* Цвет логотипа #000000; */
/* Цвет ссылок в подвале rgba(255, 255, 255, 0.6); */

/* Интервал между буквами  0.03em;*/

:root {
  --primary-bg-color: #ffffff;
  --secondary-bg-color: #2f303a;
  --team-bg-color: #f5f4fa;

  --main-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --headline-text-color: #ffffff;
  --logo-color: #000000;
  --footer-link-text-color: rgba(255, 255, 255, 0.6);
  --footer-icon-bg-color: rgba(255, 255, 255, 0.1);
  --letter-spacing: 0.03em;

  --border-color: #ececec;
  --team-media-link-color: #afb1b8;
  --hover-btn-hero-color: #188ce8;

  --items: 1;
  --indent: 30px;
}

/* Основннее стили */

/* Стили Шапки */




/* Стили Шапки */

/* Стили основной секции  */








/*  ----------------  */



/* Стили основной секции  */

/* Стили подвала */







/* Стили подвала */

/* Стили портфолио */





/* Стили портфолио */

/* Модальное окно */


/* Модальна форма-отправки  */


