.logo {
   font-family: "Raleway", sans-serif;
   font-weight: 700;
   font-size: 26px;
   line-height: 1.19;
   color: $logo-color;
   &--accent {
      color: $accent-color;
    }
    &__footer {
      color: $headline-text-color;
    }
 }
 
