$primary-bg-color: #ffffff;
$secondary-bg-color: #2f303a;
$team-bg-color: #f5f4fa;

$main-text-color: #212121;
$secondary-text-color: #757575;
$accent-color: #2196f3;
$headline-text-color: #ffffff;
$logo-color: #000000;
$footer-link-text-color: rgba(255, 255, 255, 0.6);
$footer-icon-bg-color: rgba(255, 255, 255, 0.1);
$letter-spacing: 0.03em;

$border-color: #ececec;
$team-media-link-color: #afb1b8;
$hover-btn-hero-color: #188ce8;

$indent: 30px;